body {
  background-color: #ddd;
  padding: 0;
  font: 18px sans-serif;
  margin: 20px 0;
  text-align: center;
}
.btn {
  font-size: inherit;
  padding: 6px 10px;
  color: #fff;
  border-radius: 10px;
  border: 0;
  text-transform: uppercase;
  transition: color .2s linear, background-color .2s linear;
  cursor: pointer;
}
.purple {
  background-color: rgba(146,10,145,0.73);
}
.red {
  background-color: rgba(208,0,3,0.85);
}
.green {
  background-color: #2a2;
}
.btn:hover {
  background-color: #ddd;
  color: #000;
}
.container {
  display: inline-block;
}
ul {
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
}
li {
  margin: 5px 0;
  display: inline-block;
}
input {
  margin-right: 40px;
  width: 300px;
  font-size: 18px;
  padding: 6px 0 6px 10px;
  border: 1px solid #cecece;
  background: #F6F6f6;
  border-radius: 8px;
}
.list {
  display: block;
}
.item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-top: 1px solid #333;
  padding-top: 10px;
  padding-bottom: 5px;
}
.item:first-child {
  border-top: none;
  padding-top: 0;
}
.item_text {
  display: inline-block;
  background-color: #9a9a9a;
  padding: 5px 10px;
  border-radius: 10px 10px 10px 0;
  cursor: pointer;
  transition: background-color .2s linear;
}
.footer {
  text-align: right;
}
.choose {
  margin-top: 20px;
  text-align: left;
}
.hidden {
  display: none;
}